*{
    margin:0;
    padding:0;
    
}
header{
    background-color: hsl(215, 28%, 8%);
    display: flex;
    justify-content: space-between;
    padding:20px 150px;
}

.logo{
    color: #F9FAF8;
    font-size: 24px;

}

.links{
    display: flex;
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
    gap: 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    font-size:20px
}

.hero{
    background-color: hsl(215, 28%, 12%);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 150px;
    gap:20px;
   
}

.hero-left{
    padding:10px;
    
}


.hero-right{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-left, .hero-right{
    width:50%;
    border: 3px solid white;
    border-radius: 10px;
    width:50%;
    height:35vh;
     box-sizing: border-box;
}

img{
    width:100%;
    height:100%;
}

.big-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.big-text2{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.small-text{
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up{
    background-color: #3882F6;
    color: white;
    padding:5px 20px;
    border-radius: 5px;
    border: none;
    margin-top:10px;
}

.sign-up:hover{
    cursor: pointer;
    background-color: hsla(217, 91%, 59%, 0.815);
}

.section-two{
    height:50vh;
    
}

.section-two-inside{
   padding:16px
}

.info{
    text-align: center;
    padding:30px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.four-square{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:55px;
}

.container{
   width:150px;
   text-align: center;
    font-weight: bold
}

.square{
    width:150px;
    height:150px;
}



.Kanye{
    border-radius: 10px;
}

.square.mbdtf{
    margin-top:18px
}

.section-three{
    height:40vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items:center
}

.rectangle{
    background:;
    width: 60%

}

.quote{
    font-size: 36px;
    font-weight: 500;
}

.author{
    text-align: right;
    font-size:25px;
    font-weight: bold;
}

.section-four{
    height:35vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.call-rectangle{
    background-color: #3882F6;
    width: 60%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.inception{
    display: flex;
    gap: 100px
   
}

.text-only{
    color:white;
}

.larger-text{
    font-size:30px
}
.smaller-text{
    font-size:20px
}
.sign-up-2{
    background-color: #3882F6;
    border: 2px solid white;
    color:white;
    border-radius: 5px;
    align-self:center;
    padding:5px 20px
}

.sign-up-2:hover{
    cursor: pointer;
    background-color: hsla(217, 91%, 59%, 0.815) ;
    font-size: large

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #1F2937;
    color: white;
}